@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: lowercase;
}

.weather-card {
  max-width: 400px;
  padding: 20px;
  text-align: center;
  margin-top: 15%;
  display: flex;
  text-align: left;
}

.weather-card h1 {
  font-size: 5rem;
  margin-bottom: 20px;
  color: #333;
  margin-left: 4rem;
}

.weather-card p {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #555;
  margin-left: 4rem;
  min-width: 10rem;
  margin-top: 9rem;
  letter-spacing: 0.2rem;
}

.weather-card select {
  padding: 10px;
  font-size: 2rem;
  margin-left: 4rem;
  height: 4rem;
  margin-top: 8rem;
  border: none;
  border-bottom: 0.2rem solid black;
}

.weather-card select:focus {
  border-color: #007bff;
  outline: none;
}
